<?xml version="1.0" encoding="UTF-8"?>
<datas>
	<data id="ArrivalApi" des="到账登记">
		<url>http://10.10.32.7:38030/api/agent/ArrivalApi</url>
	</data>
	<data id="InvoiceApi" des="发票状态">
		<url>http://10.10.32.7:38030/api/agent/InvoiceApi</url>
	</data>
	<data id="TransferApi" des="付款状态">
		<url>http://10.10.32.7:38030/api/agent/TransferApi</url>
	</data>
	<data id="rejectInvoiceApply" des="开票退回">
		<url>http://10.10.32.7:38030/api/reject/InvoiceApply</url>
	</data>
	<data id="rejectPaymentApply" des="付款退回">
		<url>http://10.10.32.7:38030/api/reject/PaymentApply</url>
	</data>
	<data id="u8carapysinsert" des="u8c应收增加">
		<url>http://10.10.32.14:8088/u8cloud/api/arap/ys/insert</url>
	</data>
	<data id="u8carapskinsert" des="u8c收款增加">
		<url>http://10.10.32.14:8088/u8cloud/api/arap/sk/insert</url>
	</data>
	<data id="u8carapyfinsert" des="u8c应付增加">
		<url>http://10.10.32.14:8088/u8cloud/api/arap/yf/insert</url>
	</data>
	<data id="u8carapfkinsert" des="u8c付款增加">
		<url>http://10.10.32.14:8088/u8cloud/api/arap/fk/insert</url>
	</data>
	<data id="u8cuapbdcustmandocinsert" des="u8c客商增加">
		<url>http://10.10.32.14:8088/u8cloud/api/uapbd/custmandoc/insert</url>
	</data>
	<data id="u8cuapbdcustbasdocinsert" des="u8cbase客商增加">
		<url>http://10.10.32.14:8088/u8cloud/api/uapbd/custdoc/insert</url>
	</data>
	<data id="u8cuapbdcustbasdocassgin" des="u8cbase客商分配">
		<url>http://10.10.32.14:8088/u8cloud/api/uapbd/custdoc/assign</url>
	</data>
	<data id="u8cuapbdbdbankdocsave" des="u8c银行增加">
		<url>http://10.10.32.14:8088/u8cloud/api/uapbd/bdbankdoc/save</url>
	</data>
	<data>
		<BusiTypeCode id="F1-01" dsc="应付保费（机队）">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-02" dsc="应付保费（机场责任险）">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-03" dsc="应付保费（再保费）">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-04" dsc="应付保费（普通）">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-05" dsc="应付赔款（普通）">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-06" dsc="应付小额赔款">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F1-07" dsc="应付小额赔款">
			<AppBusiTypeCode>F2-03</AppBusiTypeCode>
			<AppBusiTypeName>保费到款认领红字</AppBusiTypeName>
			<U8Ctype>yf</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F2-05" dsc="经纪费到款认领蓝字">
			<AppBusiTypeCode>F2-04</AppBusiTypeCode>
			<AppBusiTypeName>经纪费到款认领红字</AppBusiTypeName>
			<U8Ctype>sk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F2-06" dsc="咨询费到款认领蓝字">
			<AppBusiTypeCode>F2-07</AppBusiTypeCode>
			<AppBusiTypeName>咨询到款认领红字</AppBusiTypeName>
			<U8Ctype>sk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-01" dsc="支付保费（机队）">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-02" dsc="支付保费（机场责任险）">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-03" dsc="支付再保费">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-04" dsc="支付保费（普通）">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-05" dsc="支付赔款（普通）">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-06" dsc="支付小额赔款">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-07" dsc="经纪费退回">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-08" dsc="到账退回">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-09" dsc="到账转户">
			<AppBusiTypeCode>F2-08</AppBusiTypeCode>
			<AppBusiTypeName>保费账户到账</AppBusiTypeName>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-10" dsc="支付小额赔款">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F3-11" dsc="支付再保赔款">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>fk</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F0-01" dsc="经纪费应收单">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>ys</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F0-02" dsc="再保经纪费应收单">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>ys</U8Ctype>
		</BusiTypeCode>
		<BusiTypeCode id="F0-03" dsc="咨询费应收单">
			<AppBusiTypeCode/>
			<AppBusiTypeName/>
			<U8Ctype>ys</U8Ctype>
		</BusiTypeCode>
	</data>
	<data>
		<Depts corp="A01">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
			<!--20260313 增加部门-->
			<Dept id="ZH0002" dsc="航空公司业务部">
				<U8CDept id="010111" dsc="航空公司业务部"/>
			</Dept>
			<Dept id="ZH0004" dsc="航空保障业务部">
				<U8CDept id="010112" dsc="航空保障业务部"/>
			</Dept>
			<Dept id="ZH0035" dsc="通航与新兴业务部">
				<U8CDept id="010113" dsc="通航与新兴业务部"/>
			</Dept>
			<Dept id="ZH0033" dsc="运营管理部">
				<U8CDept id="010109" dsc="运营管理部"/>
			</Dept>
			<Dept id="ZH0034" dsc="计划财务部">
				<U8CDept id="010105" dsc="计划财务部"/>
			</Dept>
		</Depts>
		<Depts corp="A0101">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
		<Depts corp="A0102">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
		<Depts corp="A0103">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
		<Depts corp="A0104">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
		<Depts corp="A0105">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
		<Depts corp="A0106">
			<Dept id="ZH0003" dsc="再保业务部">
				<U8CDept id="010115" dsc="再保业务部"/>
			</Dept>
			<Dept id="ZH0005" dsc="通航业务部">
				<U8CDept id="010113" dsc="通航业务部"/>
			</Dept>
			<Dept id="ZH0006" dsc="财务部">
				<U8CDept id="010105" dsc="财务部"/>
			</Dept>
			<Dept id="ZH0007" dsc="综合办公室">
				<U8CDept id="010104" dsc="综合办公室"/>
			</Dept>
			<Dept id="ZH0008" dsc="人力资源部">
				<U8CDept id="010106" dsc="人力资源部"/>
			</Dept>
			<Dept id="ZH0009" dsc="信息技术部">
				<U8CDept id="010107" dsc="信息技术部"/>
			</Dept>
			<Dept id="ZH0012" dsc="增值业务部">
				<U8CDept id="010114" dsc="增值业务部"/>
			</Dept>
			<Dept id="ZH00141" dsc="上海分公司">
				<U8CDept id="010116" dsc="上海分公司"/>
			</Dept>
			<Dept id="ZH00142" dsc="广州分公司">
				<U8CDept id="010117" dsc="广州分公司"/>
			</Dept>
			<Dept id="ZH00143" dsc="成都分公司">
				<U8CDept id="010118" dsc="成都分公司"/>
			</Dept>
			<Dept id="ZH00147" dsc="深圳分公司">
				<U8CDept id="010121" dsc="深圳分公司"/>
			</Dept>
			<Dept id="ZH00220" dsc="陕西分公司">
				<U8CDept id="010120" dsc="陕西分公司"/>
			</Dept>
			<Dept id="ZH00221" dsc="云南分公司">
				<U8CDept id="010119" dsc="云南分公司"/>
			</Dept>
			<Dept id="ZH0015" dsc="党群工作部">
				<U8CDept id="010108" dsc="党群工作部"/>
			</Dept>
			<Dept id="ZH0016" dsc="统括业务事业部">
				<U8CDept id="020001" dsc="统括业务事业部"/>
			</Dept>
			<Dept id="ZH0017" dsc="综合管理部">
				<U8CDept id="010109" dsc="综合管理部"/>
			</Dept>
			<Dept id="ZH0018" dsc="财产险业务部">
				<U8CDept id="010111" dsc="财产险业务部"/>
			</Dept>
			<Dept id="ZH0019" dsc="人员险业务部">
				<U8CDept id="010112" dsc="人员险业务部"/>
			</Dept>
			<Dept id="ZH002" dsc="销售公司">
				<U8CDept id="010201" dsc="销售公司"/>
			</Dept>
		</Depts>
	</data>
	<data>
		<Invoice corp="A01">
			<Amount>999999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXJJ</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>661537758021</GTKPJH>
			<GTQYSH>91110101765501632C</GTQYSH>
			<GTSPID>fb1da5279eda4d3abc5ec0fea9dbec3b</GTSPID>
			<GTFPZL>纸质专票</GTFPZL>
			<GTQYKHYHZH>招商银行方庄支行866680381810001</GTQYKHYHZH>
			<GTQYDZDH>北京市东城区东直门南大街中青旅大厦9层58157023</GTQYDZDH>
			<GTKPR>刘薇薇</GTKPR>
			<GTSKR>邵婵</GTSKR>
			<GTFHR>平萍</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add>经纪费</add>
					<def/>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0101">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXJJSH</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>499923300963</GTKPJH>
			<GTQYSH>91310000671144662H</GTQYSH>
			<GTSPID>3f21891f45ba46eb9941b63e0ba78ae2</GTSPID>
			<GTFPZL>全电专票</GTFPZL>
			<GTQYKHYHZH>招商银行股份有限公司上海徐家汇支行 121907435910901</GTQYKHYHZH>
			<GTQYDZDH>上海市闵行区吴中路686弄2号E座701-702室</GTQYDZDH>
			<GTKPR>牛金萍</GTKPR>
			<GTSKR>郭岚</GTSKR>
			<GTFHR>郭岚</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add/>
					<def>保险经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0102">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8</GTTokeContentType>
			<GTUserName>HLBXJJGZ</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>661566845799</GTKPJH>
			<GTQYSH>914401016734571607</GTQYSH>
			<GTSPID>cf17719000bb494e9dc2dad0afbe3522</GTSPID>
			<GTFPZL>全电专票</GTFPZL>
			<GTQYKHYHZH>招商银行广州机场路支行120906068510805</GTQYKHYHZH>
			<GTQYDZDH>广州市白云区机场路南云西街2号 020-86128348</GTQYDZDH>
			<GTKPR>关慧华</GTKPR>
			<GTSKR>刘倩仪</GTSKR>
			<GTFHR>苏晓华</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add/>
					<def>保险经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0103">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXJJCD</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>539904404314</GTKPJH>
			<GTQYSH>91510100669682912W</GTQYSH>
			<GTSPID>d0da8859e69e477482789fda0e215cb7</GTSPID>
			<GTFPZL>纸质专票</GTFPZL>
			<GTQYKHYHZH>招商银行成都分行高新支行128904194610210</GTQYKHYHZH>
			<GTQYDZDH>四川省成都市武侯区航空路1号2幢7楼4号 028-85958733</GTQYDZDH>
			<GTKPR>曾宪琼</GTKPR>
			<GTSKR>周倚云</GTSKR>
			<GTFHR>周倚云</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add/>
					<def>保险经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0104">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXYN</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>499954253434</GTKPJH>
			<GTQYSH>91530100MA6P2G240W</GTQYSH>
			<GTSPID>e0e2e7ecab234ad381de517935bc4b6c</GTSPID>
			<GTFPZL>纸质专票</GTFPZL>
			<GTQYKHYHZH>招商银行昆明拓东路支行 871908159210806</GTQYKHYHZH>
			<GTQYDZDH>云南省昆明市官渡区春城路219号东航投资大厦603A1室 0871-63571070</GTQYDZDH>
			<GTKPR>高福秀</GTKPR>
			<GTSKR>高福秀</GTSKR>
			<GTFHR>陈谨</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add>经纪费</add>
					<def/>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0105">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXSX</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>667225453241</GTKPJH>
			<GTQYSH>91610131MA6X4AWR18</GTQYSH>
			<GTSPID>b400b298824a4372a399268fd7a0d2dc</GTSPID>
			<GTFPZL>纸质专票</GTFPZL>
			<GTQYKHYHZH>招商银行西安枫林绿洲支行 129910950710802</GTQYKHYHZH>
			<GTQYDZDH>西安市高新区丈八街办唐延路37号CLASS国际公馆C座507室 029-88348403</GTQYDZDH>
			<GTKPR>严鹏</GTKPR>
			<GTSKR>严鹏</GTSKR>
			<GTFHR>王瑛</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add>经纪费</add>
					<def/>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
		<Invoice corp="A0106">
			<Amount>99999.99</Amount>
			<GTTokeUrl>http://mycst.cn/NEWKP/LOGIN/GetToken</GTTokeUrl>
			<GTFPKJUrl1>http://mycst.cn/NEWKP/KPGL/FPKJ</GTFPKJUrl1>
			<GTTokeContentType>application/x-www-form-urlencoded;charset=UTF-8 </GTTokeContentType>
			<GTUserName>HLBXSZ</GTUserName>
			<GTPassword1>Aa@12345</GTPassword1>
			<GTKPJH>587012306002</GTKPJH>
			<GTQYSH>91440300MA5FUE976A</GTQYSH>
			<GTSPID>9336bd8d200140cd9a6bf0ce575d16da</GTSPID>
			<GTFPZL>纸质专票</GTFPZL>
			<GTQYKHYHZH>招商银行深圳福永支行 755950962410808</GTQYKHYHZH>
			<GTQYDZDH>深圳市宝安区福永街道兴围社区机场道1011号机场信息大楼306 0755-23453076</GTQYDZDH>
			<GTKPR>左霓</GTKPR>
			<GTSKR>左霓</GTSKR>
			<GTFHR>王战亚</GTFHR>
			<GTFLBM>
				<FLBM id="F0-01">
					<add>经纪费</add>
					<def/>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-02">
					<add/>
					<def>再保经纪费</def>
					<val>304080299</val>
				</FLBM>
				<FLBM id="F0-03">
					<add/>
					<def>咨询费</def>
					<val>304060399</val>
				</FLBM>
			</GTFLBM>
		</Invoice>
	</data>
</datas>
